*{
	margin: 0;
}
.main{
	background: linear-gradient(#F38FFA,#539EEE);
	height: 100vh;
	margin: 0;
	text-align: center;
}
h1 {
	color: white;
	text-align: center;
	font-size: 84px;
	transform: translate(0,400px);


}
.main-btn {
	margin: auto;
	display: inline-block;
	text-align: center;
	transform: translate(0,500px);
	box-shadow: 0 0 15px red;
	border-radius: 50%;
	height: 42px;
	width: 42px;
	animation-name: pulsar;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.steam {
	animation-name: wave;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	margin-right: 20px ;
	display: inline-block;
}
.hub {
	animation-name: wave;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	display: inline-block;
	animation-delay: 0.5s;
	animation-timing-function: ease-out;
}

.main-btn:hover{
	transform: scale(2) translate(0,250px);
	transition: 1s;
}
@keyframes pulsar{
	0%{
		box-shadow: 0 0 15px red;
	}
	50%{
		box-shadow: 0 0 35px red;
	}
	100%{
		box-shadow: 0 0 15px red;
	}

}
@keyframes wave {
	0%{
		transform: translateY(0);

	}
	50%{
		transform: translateY(-150px);
	}
	100% {
		transform: translateY(0);
	}
}
